<html>

<head>
<link rel="stylesheet" href="style.css">
<title>Kyle Conniff</title>
</head>

<body>

    <div class="navbar">
      <nav id="top_navbar">
        <a href="index.html">Home</a> | 
        <a href="about.html">About</a> | 
        <a href="research.html">Research</a> | 
        <a href="tutoring.html">Tutoring</a> | 
        <a href="teaching.html">Teaching</a> | 
        <a href="personal.html">Personal</a>
      </nav>
        <h2 id="top-name"><a href="index.html">Kyle Conniff</a></h2>
    </div>
    
    
  <div class="container">
    <div class="item header">
      <h1 style="padding-top: 5%">American Indian and Alaskan Native Research</h1>
      <h4></h4>
    </div>
  
  <div class="item sidebarleft">
     <!--<p>Insert ad 1 here</p>-->
  </div>
  
  <div class="item main">
  <div class="papers">
    <h3>Papers:</h3>
    <ul>
      <li><strong>Conniff KR</strong>, Grill JD, Gillen DL. <em>Retention of American Indian and Alaska Native participants in the National Alzheimer's Coordinating Center Uniform Data Set</em>. Alzheimer's Dement. 2023; 1-13. <a href="https://doi.org/10.1002/alz.13573">https://doi.org/10.1002/alz.13573</a></li>
    </ul>
    </div>
    
    <div class="posters">
    <h3>Posters:</h3>
    <ul>
      <li>Retention of American Indian and Alaskan Native Patients in National Alzheimer's Coordinating Center Uniform Data Set.  <a src="aaicPoster2022.mp4">Presentation.  </a><a src="AAICposter.pdf">Poster.  </a> Alzheimer's Association International Conference 2022.</li>
    </ul>
    </div>

    <div class="presentations">
    <h3>Presentations:</h3>
    <ul>
      <li><a src="https://videos.med.wisc.edu/videos/113028">Considerations for Working with Indigenous Patients and Data: From Visitation and Participation Patterns to Ownership.</a>  Native American Center for Health Professions Distinguised Lecture Series.  University of Wisconsin Madison.  Invited Speaker.  January 5, 2022.</li>
    </ul>
    </div>

  </div>
  
  <div class="item sidebarright">
     <!--<p>Insert ad 2 here</p>-->
  </div>
  
  <div class="item footer">
      <div id="email_sig">&copy; Copyright<a href="mailto:krconnif@uci.edu"> Kyle Conniff</a></div>
      <div class="foot_nav">
        <nav id="foot_nav">
          <a href="index.html">Home</a> | 
          <a href="about.html">About</a> | 
          <a href="research.html">Research</a> | 
          <a href="tutoring.html">Tutoring</a> | 
          <a href="teaching.html">Teaching</a> | 
          <a href="personal.html">Personal</a>
        </nav>
      </div>
  </div>
  
  </div>
  
</body>
</html>