<html>

<head>
<link rel="stylesheet" href="style133.css">
<title>Kyle Conniff</title>
</head>

<body>
   <div class="navbar">
      <nav id="top_navbar">
        <a href="index.html">Home</a> |
        <a href="about.html">About</a> |
        <a href="research.html">Research</a> |
        <a href="tutoring.html">Tutoring</a> |
        <a href="teaching.html">Teaching</a> |
        <a href="personal.html">Personal</a>
      </nav>
        <h2 id="top-name"><a href="index.html">Kyle Conniff</a></h2>

    </div>
    
    
  <div class="container">
    <div class="item header">
      <h1 style="padding-top: 5%">Who is Kyle Conniff?</h1>
      <h4>If you want to know more about Kyle the human, read on!</h4>
    </div>

  
  <div class="item sidebarleft">
    <!--<p>Insert ad 1 here</p>-->
  </div>
  
  <div class="item main">
    <p>
    Beyond teaching and academics, I have quite a few hobbies that generally fall under the umbrellas of athletics and nerdom.  
    </p>
    
    <h3 class="sportsHeading">
    An an athlete:
    </h3>
    
    <p class="ultimate">
    <img id="ultimatepic" src="AviatorsPic.jpg" alt="Kyle throwing a forehand for a score against  the San Jose Spiders.  PC: Meg Hofner" style="float:left;width:200px;height:auto;padding-right:5px"/>
    I played professional <b><u>Ultimate</u></b> for the <a href="https://theaudl.com/aviators">Los Angeles Aviators</a> from 2019-2021.  As an undergraduate, I studied abroad in Perth, Australia where I learned how to play ultimate.   Since then, I have spent way too much time focused on getting better at ultimate.  It took three tries, before I made the Aviators in 2019.  To the left is a photo from my first Game of the Week in front of an international audience (PC: <a href="https://meghofner.smugmug.com/browse">Meg Hofner</a>).  This particular throw ended up making the top plays of the week (well, technically, the catch made the top plays of the week).  The video is below.
    </p>
    
    <iframe width="100%" height="375" src="https://www.youtube.com/embed/gJMLGKHYfbI?start=99" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    
    
    <p class="juggling">
    <img id="jugglingpic" src="5clubsSNC.jpg" alt="Kyle juggling 5 clubs in an open quad.  PC: Casey Rentmeester" style="float:right;width:250px;height:auto;padding-left:5px"/>
    I have also been an active <b><u>juggler</u></b> since 2009.  My best friend in high school was one of the world's best jugglers at the time and we spent many hours every week working on the ultimate craft for introverts.   The picture to the right (PC: <a href = "https://www.youtube.com/c/meesta11/featured">Casey Rentmeester</a>) is a classic 5 club cascade (cascade = the normal juggling pattern for an odd number of objects).  My personal records are 9 balls, 7 rings, and 6 clubs.   Presently, when I juggle I like to work on <a href="https://youtu.be/0FDGlzJ3JaY">passing</a> patterns (2 or more people juggling together by throwing objects back and forth) with 6, 7, and 8 clubs, or to play <a href="https://youtu.be/RTAtCr19jV8">combat</a> with 3 clubs.
    </p>
    
    
    <h3 class="geekHeading">
    As a nerd, I tend to like to escape reality:
    </h3>
    
    <p class="anime">
    When I am recovering from my more active endeavors, I enjoy watching <b><u>anime</u></b>.  My favorites are old-school: <em>Yu Yu Hakusho</em> and <em>Rurouni Kenshin</em>.  However, I have watched a lot of good anime and definitely recommend:
    <ul>
      <li><em>Soul Eater</em></li>
      <li><em>Toradora</em></li>
      <li><em>Love, Chuunibyou & Other Delusions</em></li>
      <li><em>My Hero Academia</em></li>
      <li><em>Jujutsu Kaisen</em>.</li>
    </ul>
    
    I am currently watching Tower of God season 2 and Basilisk: The Ouka Ninja Scrolls.
    </p>
    
    <p class="reading">
    Sticking with the theme of escapism, I love to <b><u>read</u></b> science fiction, fantasy, and dystopian future novels, especially in the young adult genre.  I can get lost in 3-10 book series through which I feel a connection with the main characters.  Some of my favorites include:
    <ul>
      <li><em>The Name of the Wind</em> (by <a href="https://www.patrickrothfuss.com/content/index.asp">Patrick Rothfuss</a>)</li>
      <li><em>The Hunger Games</em> (by <a href="http://www.suzannecollinsbooks.com/">Suzanne Collins</a>)</li>
      <li><em>The Novice</em> (by <a href="https://authortaranmatharu.com/">Taran Matharu</a>)</li>
      <li><em>Graceling Realm</em> (by <a href="http://kristincashore.blogspot.com/">Kristin Cashore</a>)</li>
      <li><em>An Ember in the Ashes</em> (by <a href="https://www.sabaatahir.com/">Sabaa Tahir</a>)</li> 
      <li><em>The Lorien Legacies</em> (by <a href="https://www.harpercollins.com/blogs/authors/pittacus-lore">Pittacus Lore</a>)</li> 
<li><em>Red Rising Saga</em> (by <a href="https://www.piercebrown.com/redrisingsaga">Pierce Brown</a>)</li> 
    </ul>
    I am currently reading: 1) <em>Light Bringer</em> from the <a href="https://www.piercebrown.com/redrisingsaga">Red Rising Saga</a> and 2) <em>Magic Study</em> from the <a href="https://www.mariavsnyder.com/books/magic01.php">Study series</a>.
    </p>
    
    <p class="vices">
    My only vices come from having a bit of a <b><u>card collection</u></b> problem (Yu Yu Hakusho, Original Pokemon sets, and original Digimon sets...so far), and playing a relatively small and selective set of video games.  I play Pokemon Go regularly.  I am also working my way through the second gen Pokemon games on GameBoy Color, Hogwarts Legacy, Pokemon Legends Arceus, and Grand Theft Auto 3, all on the Switch.  Occassionally, I will sit down and play the worst platinum rank Rocket League this world has ever seen.  
    </p>
    
    <p>
<img id="drakey" src="DrakePic.png" alt="Kyle's dog is a 13 year old pitbull mix named Drake.  PC: Kyle Conniff" style="float:left;width:500px;height:auto;padding-right:5px"/> I also am a dog parent.  Drake is a ~13 year old pitbull-mix pound-rescue.  Details of Drake's previous life are scarce, but it is believed that he ended up on the streets after having a few previous owners.  Drake is now happy to play with his cousins (Kyle's parents' dogs) as well as cuddle on the couch with papa.  Fun fact: Drake is not afraid to steal food from his favorite sitter.  The current list includes a full pizza; fried chicken; crawfish; and a 6-inch Subway cold cut sandwich with lettuce, tomato, jalapeno, and siracha sauce.  Somehow, Drake has never exhibited the expected effects of eating such meals.  Truly a garbage disposal of dogs.</p>

  </div>
  
  <div class="item sidebarright">
    <!--<p>Insert ad 2 here</p>-->
  </div>
  
  <div class="item footer">
      <div id="email_sig">&copy; Copyright<a href="mailto:krconnif@uci.edu"> Kyle Conniff</a></div>
        <nav id="foot_nav">
        <a href="index.html">Home</a> |
        <a href="about.html">About</a> |
        <a href="research.html">Research</a> |
        <a href="tutoring.html">Tutoring</a> |
        <a href="teaching.html">Teaching</a> |
        <a href="personal.html">Personal</a>
      </nav>
  </div>
  
  </div>
  <script src="script.js"></script>
</body>
</html>
