<html>

<head>
<link rel="stylesheet" href="style.css">
<title>Kyle Conniff</title>
</head>

<body>

    <div class="navbar">
      <nav id="top_navbar">
        <a href="index.html">Home</a> | 
        <a href="about.html">About</a> | 
        <a href="research.html">Research</a> | 
        <a href="tutoring.html">Tutoring</a> | 
        <a href="teaching.html">Teaching</a> | 
        <a href="personal.html">Personal</a>
      </nav>
        <h2 id="top-name"><a href="index.html">Kyle Conniff</a></h2>
    </div>
    
    
  <div class="container">
    <div class="item header">
      <h1 style="padding-top: 5%">Statistical Methodology Research</h1>
      <h4></h4>
    </div>
  
  <div class="item sidebarleft">
     <!--<p>Insert ad 1 here</p>-->
  </div>
  
  <div class="item main">
  <div class="papers">
    <h3>Papers:</h3>
    <ul>
      <li><a href="https://escholarship.org/uc/item/70x1h3zf">Dissertation</a>
      <li>Unknown System Migration under Correct Model Specification in Indian Health Services Data. (In draft.)</li>
    </ul>
    </div>
    
    <div class="posters">
    <h3>Posters:</h3>
    <ul>
      <li>Survival Methods in Electronic Health Records Data in the Presence of System Migration.<a src="SACNAS-OCBS-Poster.mp4">Presentation.</a> <a src="SACNASPoster1.pdf">Poster.</a></li>
    </ul>
    <ul>
      <li>An Investigation of the Choice of Time Scale for Studies with Time-to-Dementiasrelate Outcomes<a src="ConniffPoster_AAICJapan2024.mp4">Presentation.</a> <a src="ConniffPoster_AAICJapan2024.pdf">Poster.</a></li>
    </ul>
    </div>

    <div class="presentations">
    <h3>Presentations:</h3>
    <ul>
      <li><a src="">Dissertation Defense.</a> February, 2024
      <li>Unknown System Migration in Indian Health Services Data. Dissertation Proposal.  September, 2021.</li>
    </ul>
    </div>

  </div>
  
  <div class="item sidebarright">
     <!--<p>Insert ad 2 here</p>-->
  </div>
  
  <div class="item footer">
      <div id="email_sig">&copy; Copyright<a href="mailto:krconnif@uci.edu"> Kyle Conniff</a></div>
      <div class="foot_nav">
        <nav id="foot_nav">
          <a href="index.html">Home</a> | 
          <a href="about.html">About</a> | 
          <a href="research.html">Research</a> | 
          <a href="tutoring.html">Tutoring</a> | 
          <a href="teaching.html">Teaching</a> | 
          <a href="personal.html">Personal</a>
        </nav>
      </div>
  </div>
  
  </div>
  
</body>
</html>
