<html>

<head>
<link rel="stylesheet" href="style.css">
<title>Kyle Conniff</title>
</head>

<body>

   <div class="navbar">
      <nav id="top_navbar">
        <a href="index.html">Home</a> |
        <a href="about.html">About</a> |
        <a href="research.html">Research</a> |
        <a href="tutoring.html">Tutoring</a> |
        <a href="teaching.html">Teaching</a> |
        <a href="personal.html">Personal</a>
      </nav>
        <h2 id="top-name"><a href="index.html">Kyle Conniff</a></h2>

    </div>
    
    
  <div class="container">
    <div class="item header">
      <h1 style="padding-top: 5%">Tutoring</h1>
      <h4>I have along history of online tutoring for mathematics and statistics.</h4>
    </div>

  
  <div class="item sidebarleft">
     <!--<p>Insert ad 1 here</p>-->
  </div>
  
  <div class="item main">
   
    <p>
    I have over 10 years of tutoring experience.  I have refined my 1-on-1 tutoring technique to emphasize using the student's own learning style to maximize their knowledge base in the subject.  My goal is for students to be prepared for thinking through challenging questions on their own terms.  If you are looking for an experienced, personable tutor, then reach out to me via email: <a href="mailto:krconnif@uci.edu">krconnif@uci.edu</a>.
    </p>
    <h5 style="margin-bottom: 0px">Current number of students for Summer 2025: 0 </h5>
    <h6 style="margin-top: 0px">Student count last updated: July 19, 2025</h6>
    <p style="margin-top: 0px">Currently taking a short break from tutoring to focus on other work.  I will accept inquiries and students on a case-by-case basis.  Feel free reach out if you are looking for help, but my availability is limited.</h6>
    
      
      
      
    <div class="tutorResume">
    <h3>Resume</h3>
    <ul>
    </li>
    <li class="job-title"><strong>Teaching Assistant: Categorical Data Analysis</strong> (Winter, 2024)
    <ul>
    <li class="job-description">This was an upper-division, statistics major course for undergraduate studenst.  I worked with lecturer, grader, and another TA to create course assessments and discussion section material to aid student learning beyond lectures.  I held office hours and led discussion sections weekly.</li>
    </ul></li>
    </li>
    <li class="job-title"><strong>Teaching Assistant: Generalized Linear Models</strong> (Winter, 2024)
    <ul>
    <li class="job-description">This was a Ph.D. level statistical course.  I held office hours, graded assignments and exams, and aided student learning through practical examples.</li>
    </ul></li>
    <li class="job-title"><strong>Teaching Assistant: Bridgeway Academy Online 4th Grade Class</strong> (2022-2023)
    <ul><li class="job-description">Work directly with the teacher to teach the students math, science, English language arts, and social studies.  Most of my work involves grading and teaching. </li></ul></li>
    <li class="job-title"><strong>Teaching Assistant: Bridgeway Charter Online Academy 7th Grade Intermediate Math</strong> (2022-2023)
    <ul><li class="job-description">Work directly with the teacher to teach the remedial students math.  Most of my work involves grading and filling in for the teacher, sometimes on a moment's notice. </li></ul></li>
    <li class ="job-title"><strong>Freelance Methodogolgy Consultant</strong> (2021-2022)
    <ul><li class="job-description">Work with researchers and students to discuss robust options for collecting, wrangling, and analyzing data.  Conversations include discussing the pros and cons of various approaches and considering general practices to ensure validity and robustness of results. </li></ul></li>
    <li class="job-title"><strong>Teaching Assistant: UCI COSMOS: Exploring the Application of Data Science in the Health Sciences</strong> (July, 2021)
    <ul>
    <li class="job-description">Worked with high school students to help them develop insight into how data science can be used to save and advance human lives. I lead discussions, answered questions during lectures, graded assignments, and helped students with an analysis project to end the course.
    <ul>
    <li><a href="https://www.cosmos.uci.edu/welcome-to-your-new-website/cluster-1-data-science-in-health-sciences/">UCI COSMOS Cluster 1: Data Science in the Health Sciences</a> </li>
    </ul></li>
    </ul></li>
    <li class="job-title"><strong>Teaching Assistant: Introduction to Probability and Statistics I</strong> (Summer, 2021)
    <ul>
    <li class="job-description">Worked with lecturer to provide remote teaching to students taking a major-level course in mathematical statistics.  I held office hours, graded assignments and exams, and proctored exams.</li>
    </ul></li>
    <li class="job-title"><strong>Independent Tutor</strong> (2012-Current)
    <ul>
    <li class="job-description">I've met 1-on-1 with students for several years.  I've worked completely independently with students (UCI page below), as well as through tutoring systems (the second and third links below).
    <ul>
    <li><a href="https://www.stat.uci.edu/tutoring-resources/">UCI Stats Department</a></li>
    <li><a href="https://takelessons.com/profile/kyle-c31?service=math&online=1">TakeLessons</a></li>
    <li><a href="https://www.wyzant.com/match/tutor/86985535">Wyzant</a></li>
    </ul></li>
    </ul></li>
    <li class="job-title"><strong>Teaching Assistant: Introduction to Statistics </strong> (Summer, 2018; Summer, 2020)
    <ul>
    <li class="job-description">Worked with the teacher to help teach introductory statistics during the shortened summer sessions.  I taught review sessions, created test questions, checked homework and lab assignments, and mostly helped answer student questions about the material, homeworks, and labs.</li>
    </ul></li>
    <li class="job-title"><strong>St. Norbert College Multicultural Center Tutor</strong> (2012-2013)
    <ul>
    <li class="job-description">Similar to holding office hours, I sat in a large room and helped my multicultural peers with all levels of math from algebra through multivariate calculus, introductory economics, writing/editing, and a few other introductory classes I was also taking.</li>
    </ul></li>
    <li class="job-title"><strong>Boy's & Girl's Club Tutor</strong> (2012-2013)
    <ul>
    <li class="job-description">I helped students at an undisclosed, minority-serving middle school (6-8th grades) work through all types of math questions.</li>
    </ul></li>
    <li class="job-title"><strong>Ranger Ambassador</strong> (2011-2012)
    <ul>
    <li class="job-description">I helped a kindergarten/1st grade teacher with teaching students who needed a little extra help learn how to add and subtract.</li>
    </ul></li>
    <li class="job-title"><strong>Boy's & Girl's Club Program Staff</strong> (2009-2016)
    <ul>
    <li class="job-description">I designed and implemented games and activities for teaching and entertaining children aged 5-18.  I primarily worked with children with no place to go after school on fundamental tasks such as cooking, homework, and being aware of/respectful to others around them.</li>
    </ul></li>
    </ul>  
    </div>
    
      
    <div class="tutorHistory">
    <h3>Recently Tutored Courses</h3>
    <ul class="t-hist">
    <li>&check; Introductory Juggling</li>
    <li>&check; Introduction to Bayesian Statistics</li>
    <li>&check; Statistical Methods for Data Analysis III</li>
    <li>&check; Introduction to Probability and Statistics III</li>
    <li>&check; Statistical Methods for Data Analysis II</li>
    <li>&check; Introduction to Probability and Statistics II</li>
    <li>&check; Statistical Methods for Data Analysis I</li>
    <li>&check; Introduction to Probability and Statistics I</li>
    <li>&check; College Introduction to Statistics</li>
    <li>&check; College Pre-calculus</li>
    <li>&check; College Algebra</li>
    <li>&check; High school Math 4</li>
    <li>&check; High school Math 3</li>
    <li>&check; Pre-calculus</li>
    <li>&check; Algebra II</li>
    <li>&check; Algebra I</li>
    <li>&check; High School AP Calculus A/B</li>
    <li>&check; High School AP Calculus B/C</li>
    <li>&check; Quantitative Methods in Ecological Sciences</li>
    <li>&check; Intermediate Mathematical Statistics</li>
    <li>&check; High School AP Statistics</li>
    <li>&check; Biostatistics for Nurses</li>
    <li>&check; Middle School Algebra</li>
    <li>&check; Middle School pre-Algebra</li>
    <li>&check; How to teach Statistics for Public Policy</li>
    <li>&check; Masters of Teaching Capstone Research Project</li>
    </ul>
    </div>
      
    <div class="tutorRate">
      <h3>Rate</h3>
      <ul>
      <li><span class="spec">Online:</span> $150/hour for college and high school level courses.</li>
      <li><span class="spec">In-person:</span> I am not actively tutoring in-person.  I can be bought, but you will likely have to pay a higher hourly rate, plus travel costs, travel time, and for the impact traveling has on ability to book other students.
      <li>Rates for children depend on the subjects and expectations of the parents. Creating lesson plans and teaching subjects will be more expensive than helping with homework.  Please reach out to address expectations and come to an agreement on hourly rate.</li>
      </ul>
      <p>Note: all prices are negotiable.  If you explain your situation, I'm sure we can come to an agreement on an acceptable rate.  Students paying for themselves are typically afforded the most leeway.  If you aren't sure, please ask.</p>
      <p>Second note: I don't charge for short questions that are texted or emailed to me.  If you have a quick question, send me a pic and I'll answer quickly via the same medium.  I will recommend a session if I think it will require a substantial amount of time.</p>
    </div>
      
    <div class="tutorInfo">
      <h3>Additional Information</h3>
    My tutoring style may not be entirely typical.  I will very rarely give students the answers to questions.  I do not oftentimes answer students' questions in my own terms.  Instead, I will turn questions around to the students.  I will ask them to return to their notes and review what the teacher said.  I will break the question into pieces and encourage the student to build up their understanding of the information as it relates to previously covered material.  In essence, I am a teacher.  I focus on teaching, and tutoring is on opportunity to be a 1-on-1 teacher.  
          Tutoring plays a big role in the development of my teaching materials.  I have learned a lot about how to not organize a class from tutoring.  I have learned a lot about what topics students struggle with in various classes.  I develop teaching resources based on what would be most beneficial to my tutees.  My goal in teaching is to make each student feel as though they are being guided through the material by an individual tutor.  And tutoring is one of the methods I use to practice and refine the process of achieving this goal.
    </div>
  </div>
  
  <div class="item sidebarright">
     <!--<p>Insert ad 2 here</p>-->
  </div>
  
  <div class="item footer">
      <div id="email_sig">&copy; Copyright<a href="mailto:krconnif@uci.edu"> Kyle Conniff</a></div>

        <nav id="foot_nav">
        <a href="index.html">Home</a> |
        <a href="about.html">About</a> |
        <a href="research.html">Research</a> |
        <a href="tutoring.html">Tutoring</a> |
        <a href="teaching.html">Teaching</a> |
        <a href="personal.html">Personal</a>
      </nav>
  </div>
  
  </div>
  <script src="script.js"></script>
</body>
</html>

