<html>

<head>
<link rel="stylesheet" href="style.css">
  <meta charset="UTF-8">
  <title>About | Kyle Conniff</title>

  <meta name="description" content="Learn about Kyle Conniff, a statistician focused on Alzheimer's, dementia, Indigenous health, and research ethics.">

  <meta name="keywords" content="Kyle Conniff, statistics, dementia research, Indigenous health, Alzheimer's, survival analysis, aging research, survival analysis, system migration, time scales, time to event analysis">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <div class="navbar">
      <nav id="top_navbar">
        <a href="index.html">Home</a> |
        <a href="about.html" class="navactive">About</a> |
        <a href="research.html">Research</a> |
        <a href="tutoring.html">Tutoring</a> |
        <a href="teaching.html">Teaching</a> |
        <a href="personal.html">Personal</a>
      </nav>
        <h2 id="top-name"><a href="index.html">Kyle Conniff</a></h2>
    </div>
    
  <div class="container">
    <div class="item header">
      <h1 style="padding-top: 5%">About this site</h1>
      <h4>What is this website and why does it exist?</h4>
    </div>
    
  <div class="item sidebarleft">
     <!--<p>Insert ad 1 here</p>-->
  </div>
  
  <div class="item main">
    <p class="aboutIntro">This page provides a quick overview of what you’ll find across the site. Each section summarizes the content and purpose of its corresponding page, including items still in progress.</p>
    
    <p class = "aboutPurpose">What started as a small HTML project in graduate school has grown into a place where I can share my research, teaching, tutoring, and personal interests in one accessible space. My hope is that some of these resources can support students in their own development.</p>
    
    
    
    <div class="collapsible-about">
      <span class="arrow">▶</span>Home <span class="icon">🏠</span></div>
      <div class="about-content">
      <p>A snapshot of who I am and how to navigate the site.</p>
          <ul class="about-lists">
          <li>Name pronunciation bar</li>
          <li>Photo</li>
          <li>Educational Background</li>
          <li>Current position</li>
          <li>Current endeavors</li>
          <li>Curriculum Vitae</li>
          <!-- <li>Link to Educational Site</li> 
          <li>Link to YouTube</li> -->
          <li>Contact Information</li>
        </ul>
    </div>
    
    <div class="collapsible-about">
      <span class="arrow">▶</span>Research <span class="icon">🔬</span></div>
      <div class="about-content">
      <p>An overview of my current and past projects, collaborations, publications, presentations, and research interests.</p>
          <ul class="about-lists">
          <li>Current Research Projects</li>
          <li>Links to past research papers and presentations</li>
          <li>Current Collaborations</li>
          <li>Past Collaborations</li>
          <li>Research Interests</li>
          <li>Publications</li>
        </ul>
    </div>
    
    <div class="collapsible-about">
      <span class="arrow">▶</span>Tutoring  <span class="icon">✏️</span></div>
      <div class="about-content">
      <p>My tutoring background, recent work, and rate information.</p>
          <ul class="about-lists">
          <li>Overview</li>
          <li>Resume</li>
          <li>Recent Classes</li>
          <li>Rate</li>
          <li>Additional Information</li>
        </ul>
    </div>
    
    
    <div class="collapsible-about">
      <span class="arrow">▶</span>Teaching  <span class="icon">🧑‍🏫</span></div>
      <div class="about-content">
      <p>Courses I've taught and other teaching resources.</p>
          <ul class="about-lists">
          <li>Current Courses</li>
          <li>Course Material</li>
          <li>Past Courses</li>
          <li>Course Syllabi</li>
          <li>Teaching Materials</li>
          <li>Additional Teaching Resources</li>
        </ul>
    </div>
    
    <div class="collapsible-about">
      <span class="arrow">▶</span>Personal  <span class="icon">🔍</span></div>
      <div class="about-content">
      <p>A brief look at who I am outside of work.</p>
          <ul class="about-lists">
          <li>Athletic Endeavors</li>
          <li>Recovery Endeavors</li>
          <li>Tribute to Drake</li>
        </ul>
    </div>


<p class="aboutClosing">Thank you for visiting.  I'm continually updating the site, so check back for new content.</p>

  </div>
  
  <div class="item sidebarright">
     <!--<p>Insert ad 2 here</p>-->
  </div>
  
  <div class="item footer">
      <div class="foot_nav">
        <nav id="foot_nav">
          <a href="index.html">Home</a> | 
          <a href="about.html">About</a> | 
          <a href="research.html">Research</a> | 
          <a href="tutoring.html">Tutoring</a> | 
          <a href="teaching.html">Teaching</a> | 
          <a href="personal.html">Personal</a>
        </nav>
      </div>
            <div id="email_sig">&copy; Copyright<a href="mailto:krconnif@uci.edu"> Kyle Conniff</a></div>

  </div>
  
  
  </div>
  <script src="script.js"></script>
</body>
</html>
