<html>

<head>
<link rel="stylesheet" href="style133.css">
<title>Kyle Conniff</title>
</head>

<body>

    <div class="navbar">
      <nav id="top_navbar">
        <a href="index.html">Home</a> |
        <a href="about.html">About</a> |
        <a href="research.html">Research</a> |
        <a href="tutoring.html">Tutoring</a> |
        <a href="teaching.html">Teaching</a> |
        <a href="personal.html">Personal</a>
      </nav>
        <h2 id="top-name"><a href="index.html">Kyle Conniff</a></h2>
    </div>
    
  <div class="container">
    <div class="item header">
      <h1 style="padding-top: 5%">About this site</h1>
      <h4>What is this website and why does it exist?</h4>
    </div>
    
  <div class="item sidebarleft">
     <!--<p>Insert ad 1 here</p>-->
  </div>
  
  <div class="item main">
    <p class="aboutIntro">
    This is the personal website for Kyle Conniff.  See below for what can be found under each of the pages.  (For items listed but not yet found, this is a to-do list for me.)
    </p>
    
    <div class="home">
      <h3>
      Home
      </h3>
      <p>
          <ul>
          <li>Name pronunciation bar</li>
          <li>Photo</li>
          <li>Educational Background</li>
          <li>Current position</li>
          <li>Current endevours</li>
          <li>Link to CV</li>
          <!-- <li>Link to Educational Site</li> 
          <li>Link to YouTube</li> -->
          <li>Contact Information</li>
        </ul>
      </p>
    </div>
    
    <div class="res">
      <h3>
      Research
      </h3>
      <p>
          <ul>
          <li>Current Research Projects</li>
          <li>Links to past research papers and presentations</li>
          <li>Current Collaborations</li>
          <li>Past Collaborations</li>
          <li>Research Interests</li>
          <li>Publications</li>
        </ul>
      </p>
    </div>
    
    <div class="tut">
      <h3>
      Tutoring
      </h3>
      <p>
          <ul>
          <li>Overiew of Kyle as a tutor</li>
          <li>Tutoring Resume</li>
          <li>Recent Tutoring Work</li>
          <li>Rate</li>
          <li>Additional Information</li>
        </ul>
      </p>
    </div>
    
    
    <div class="teach">
      <h3>
      Teaching
      </h3>
      <p>
          <ul>
          <li>Current Courses</li>
          <li>Links to Course Material</li>
          <li>Past Courses Taught</li>
          <li>Links to Course Syllabi</li>
          <li>Links to Materials for Teaching Courses</li>
          <li>Additional Teaching Resources</li>
        </ul>
      </p>
    </div>
    
    <div class="pers">
      <h3>
      Personal
      </h3>
      <p>
          <ul>
          <li>Some of the things I do in my free time</li>
        </ul>
      </p>
    </div>


  </div>
  
  <div class="item sidebarright">
     <!--<p>Insert ad 2 here</p>-->
  </div>
  
  <div class="item footer">
      <div id="email_sig">&copy; Copyright <a href="mailto:krconnif@uci.edu">Kyle Conniff</a></div>

        <nav id="foot_nav">
        <a href="index.html">Home</a> |
        <a href="about.html">About</a> |
        <a href="research.html">Research</a> |
        <a href="tutoring.html">Tutoring</a> |
        <a href="teaching.html">Teaching</a> |
        <a href="personal.html">Personal</a>
      </nav>
  </div>
  
  </div>
  <script src="script.js"></script>
</body>
</html>
