<html>

<head>
<link rel="stylesheet" href="style133.css">
<title>Kyle Conniff</title>
</head>

<body>

    <div class="navbar">
      <nav id="top_navbar">
        <a href="index.html">Home</a> | 
        <a href="about.html">About</a> | 
        <a href="research.html">Research</a> | 
        <a href="tutoring.html">Tutoring</a> | 
        <a href="teaching.html">Teaching</a> | 
        <a href="personal.html">Personal</a>
      </nav>
        <h2 id="top-name"><a href="index.html">Kyle Conniff</a></h2>
    </div>
    
    
  <div class="container">
    <div class="item header">
    
        <figure>
          <img id="mugshot" src="Kyle-Conniff1.jpg">
        </figure>

      <div class="audio-container">
        <audio controls>
          <source src="Kyle-Conniff.mp3" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio>
      </div>
      
        <h1 style="padding-top: 5%">Home</h1>
      <h4>Welcome to Kyle Conniff's website!</h4>
    </div>
  
  <div class="item sidebarleft">
     <!--<p>Insert ad 1 here</p>-->
  </div>
  
  <div class="item main">
    <p class="homeIntro">
I am a Ph.D. candidate of statistics at the University of California Irvine (<a href="https://www.uci.edu/">UCI</a>).  I am working under the direction of Dr. <a href="https://dgillen.ics.uci.edu">Dan Gillen</a> in censored suvival data for Native American health care.  I received a Bachelor's of Arts from St. Norbert College (<a href="https://www.snc.edu/">SNC</a>) in mathematics in 2016.  I strive to develop materials and resources for teaching statistics and mathematics to marginalized students and communities.
    </p>

    <p class="cv">
    <a href="cv.html">Curriculum Vitae</a>
    </p>
    
    
    <div class="">
      <h3>Personal Priorities</h3>
      <p>As a researcher, student, and athlete, I can be quite busy.  On top of that, I like to tutor, teach, and work on various projects for fun.  To prevent myself from getting overbooked, I am specifying my priorities below.  These are ordered in terms of where I will focus the most time, effort, and energy.  You are always welcome to ask or invite me to a new opportunity, but I may be more inclined to accept if they are related to the below.  The major list items are the large topics.  The sublists are immediate goals related to the topic.</p>
      <ol>
        <li>Working on my dissertation writing/research
          <ul>
            <li>Dissertation writing</li>
          </ul>
        </li>
        <li>Working on my statistical expertise
          <ul>
            <li>Censored time-to-event data analyses</li>
            <li>Area Under the ROC Curve theory</li>
            <li>Time scales and their impact on analysis</li>
          </ul>
        </li>
        <li>Working on my mental health
          <ul>
            <li>Dealing with depression, loneliness, and identity issues</li>
          </ul>
        </li>
        <li>Working on my physical health
          <ul>
            <li>Building strength --> Squat/Bench over 400/200 lbs</li>
            <li>Building athleticism --> Explosiveness, change of direction, and conditioning</li>
          </ul>
          </li>
        <li>Working on my expertise in AI/AN healthcare and Alzheimer's disease and related dementias
          <ul>
            <li>AI/AN data sovereignty policies</li>
            <li>Dementia for Scientists from @MichiganMedicine on YouTube</li>
          </ul>
        </li>
      </ol>
    </div>
    
    <div class="edu">
      <h3>
      Education:
      </h3>
      <p>
        <!--Ph.D., Department of Statistics, University of California Irvine, Irvine, CA, USA (...) -->
      </p>
      <p>
      B.A., in Mathematics, St. Norbert College, De Pere, WI, USA (2016)
      </p>
    </div>
    
    <div class="ha">
      <h3>
      Honors and Awards:
      </h3>
      <p>
      Grant reviewer once said "This candidate has no weaknesses" in review of one of my grant proposals.
      </p>
      <p>
      National Institute of Aging Diversity Supplement Award (2021)
      </p>
      <p>
      National Science Foundation Graduate Research Fellowship Program (2017)
      </p>
       <p>
      Eugene Cota-Robles Fellowship Recipient (2016)
      </p>
      <p>
      Diversity Fellowship Recipient (2016)
      </p>
      <p>
      McNair Scholar (2013)
      </p>
    </div>
    
    <div class="cert">
      <h3>
      Certificates:
      </h3>
      <p>
      PA Act 126 Part 1: Child Abuse and Mandatory Reporting Certificate (2022)
      </p>
      <p>
      PA Act 126 Part 2: Educator Discipline Act, Sexual Misconduct and Maintaining Professional Boundaries Certificate (2022)
       </p>
      <p>
      Course Design Certificate Program (2020)
      </p>
      <p>
      Wellness at UCI Certificate Program (2020)
      </p>
      <p>
      Foundations of Graduate Health and Wellness (2018)
      </p>

    </div>


  </div>
  
  <div class="item sidebarright">

  </div>
  
  <div class="item footer">
      <div id="email_sig">&copy; Copyright<a href="mailto:krconnif@uci.edu"> Kyle Conniff</a></div>
      <div class="foot_nav">
        <nav id="foot_nav">
          <a href="index.html">Home</a> | 
          <a href="about.html">About</a> | 
          <a href="research.html">Research</a> | 
          <a href="tutoring.html">Tutoring</a> | 
          <a href="teaching.html">Teaching</a> | 
          <a href="personal.html">Personal</a>
        </nav>
      </div>
  </div>
  
  </div>
  <script src="script.js"></script>
</body>
</html>
