.distill-site-nav{
  background-color:rgb(255,102,179);
}

/*not sure this is useful*/
.distill-site-header {
  --title-size:       18px;    
  --text-color:       #ff414b; /* edited */
  --text-size:        15px;
  --hover-color:      #dd424c; /* edited */
  --bkgd-color:       #ffd8db; /* edited */
}

.distill-site-footer {
  background-color:rgb(255,102,179);
  position: static;
  padding-left: 10px;
  padding-top: 0;
  padding-bottom: 0px;
  padding-right: 10px;
  width: 100%;
  color: white;
  line-height: 0;
  margin-top: 10;
  margin-bottom:10;
}

.distill-site-description {
    font-family: helvetica;
    font-weight: normal;
    font-size : 14px;
}

body{
  margin-left: 10%;
  margin-right: 10%;
}

h1 {

font-family: 'Source Sans Pro', Arial Black;
            font-weight : 400;
            font-size : 24px;
            color : #000;
}

h2 {
  font-family: 'Source Sans Pro', Arial Black;
            font-weight : 300;
            font-size : 16px;
            color : #000;
}

h3 {

font-family: 'Source Sans Pro', sans-serif;
            font-weight : 300;
            font-size : 10px;
            color : #000;
}

h5{
    margin:0;
    padding:0;
}

h6{
    margin:0;
    padding:0;
}

p {
  font-family: helvetica ;
      font-weight: normal;
      font-size : 12px;
}

.name {
  float: right;
}
.email {
  float: right;
  padding-left: 5px;
}

.navbar {
  float: left;
  color: #000;
  padding-left: 5px;
}

.job-description {
  list-style-type:none;
  font-family: helvetica;
    font-weight: normal;
    font-size : 12px;
}

.job-title{
    font-family: 'Source Sans Pro', Arial Black;
            font-weight : 200;
            font-size : 14px;
}

ul li { 
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top: 1px;
  font-family: helvetica ;
      font-weight: normal;
      font-size : 12px;
}

ol li { 
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top: 1px;
  font-family: helvetica ;
      font-weight: normal;
      font-size : 12px;
}




